Django>3.2,<3.3
asgiref
bleach
django-crispy-forms
django-debug-toolbar
django-extensions
django-multi-captcha-admin
django-ranged-response
django-robots
django-simple-captcha
django-summernote
django-taggit
packaging
Pillow
pyparsing
pytz
six
sqlparse
webencodings
