{% extends "base.html" %}
{% load static %}

{% block head %}
<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous"> -->
{% endblock %}

{% block content %}

<section class="relative about-banner">
  <div class="container">
			<div class="row justify-content-sm-center h-100">
				<div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
					<div class="text-center my-5">
            <br><br>
					</div>
					<div class="card shadow-lg">
            <div class="card-body p-5">
              <h1 class="fs-4 card-title fw-bold mb-4">Login</h1>
							<form method="POST" class="needs-validation" action="{% url 'accounts:login' %}" novalidate="" autocomplete="off">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.GET.next }}"/>
                <div class="mb-3">
									<label class="mb-2 text-muted" >User Name or E-mail address</label>
									<input type="text" maxlength="30" class="form-control" name="username" value="" required autofocus>
									<div class="invalid-feedback">
										username is invalid
									</div>
								</div>
                <div class="mb-3">
									<div class="mb-2 w-100">
										<label class="text-muted" for="password">Password</label>
										<a href="{% url 'password_reset' %}" class="float-right"  >
											Forgot Password?
										</a>
									</div>
									<input id="password" type="password" class="form-control" name="password" required>
								    <div class="invalid-feedback">
								    	Password is required
							    	</div>
								</div>
                                
								<div class="mb-3 d-flex align-items-center">
                        <div class="form-check" >
                              <input type="checkbox" name="remember" id="remember" class="form-check-input" value="True">
										          <label for="remember" class="form-check-label">Remember Me</label>
                            </div>
                          </div>

								{% if form.errors %}
								<div class="alert alert-error">
								<h4>Please fix the following errors</h4>
								<ul>
									{% for field in form %}
									{% if field.errors %}
										{% for error in field.errors %}
										<li><a href="#id_{{ field.name }}" class="error">{{ error|escape }}</a></li>
										{% endfor %}
									{% endif %}
									{% endfor %}
								</ul>
								{% if form.non_field_errors %}
									{{ form.non_field_errors }}
								{% endif %}
								</div>
								{% endif %}


                          <div class="col-md-12 text-center">
                            <button type="submit" class="align-items-end btn btn-primary"   >
                              Login
                            </button>
						</div>
                    </form>
				</div>
				<div class="card-footer py-3 border-0">
					<div class="text-center">
						Don't have an account? <a href="{% url 'accounts:signup' %}" class="text-dark">Create One</a>
					</div>
				</div>
			</div>
			<div class="text-center mt-5 text-muted">
            <br><br>
		</div>
	</div>
</div>
</div>
</section>
	<script src="{% static "login/js/login.js" %}"></script>
{% endblock %}